.container {
  width: 100%;
}
.container-item {
  width: 75%;
  margin: auto;
}
.container-item h3 {
  text-align: center;
}

.todo-title {
  padding: 8px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 2rem;
  width: fit-content;
}
.todo-title-done {
  text-decoration: line-through;
  padding: 8px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 2rem;
  width: fit-content;
}
