body {
  margin: 0;
  background-image: url("../img/sample-pattern.png");
  background-position: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
}

main {
  margin-top: 125px;
  margin-bottom: 100px;
}

.no-border {
  border: none !important;
}

.navbar {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;

  background-color: white;
}

nav img {
  width: 150px;
}

nav .navbar-menu ul {
  list-style: none;
  margin-top: 5px;
}

nav .navbar-menu ul li {
  padding: 0;
  float: left;
  font-size: 20px;
}

nav .navbar-menu .menu-item {
  text-decoration: none;
  padding: 0px 10px;
}

main .header {
  margin-bottom: 30px;
}

main .header h1 {
  text-align: center;
  color: rgba(35, 87, 118, 1);
}

main .body {
  margin: 0px 250px;
}

main .list-post {
  padding: 30px;
  background-color: white;
  border-bottom: 1px solid rgb(192, 192, 192);
}

main .list-post h3 {
  color: rgba(116, 157, 225, 1);
}

footer .body {
  background-color: black;
  color: white;
  padding: 20px;
}

footer .body p {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 991px) {
  main .body {
    margin: 0px 50px;
  }

  .navbar {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .navbar a {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar .navbar-menu {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar ul {
    margin-left: -20px;
  }
}
